<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
<div class="card text-center">
  <div class="card-header custom-header">
    Venta de Vehiculos
  </div>
  <div class="card-body">
    <h5 class="card-title custom-title">¡Bienvenidos!</h5>
    <p class="card-text custom-text">Visita nuestra página</p>
    <img src="https://bintuapps.webcindario.com/carro1.jpg" alt="Descripción de la imagen" class="custom-img">
    <a href="/vehiculos" class="btn btn-primary">Go</a>
  </div>
</div>